{% extends "ehandler/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.eowner }}</a>
            <small class="text-muted">{{ object.edate|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title">{{ object.ename }}</h2>
        <p class="article-content">{{ object.econtent }}</p>
        {% if object.eowner == user %}
        <p class="alert alert-primary">Event joining code is:{{object.ecode}}</p>
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'event-delete' object.id %}">Delete</a>
        </div>
        {% endif %}
    </div>
</article>
{% endblock content %}