{% extends "ehandler/base.html" %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-8">

        <div class="jumbotron">
            <h1 class="display-4">{{ object.ename }}</h1>
            <p class="lead">Event organiser: <strong>{{object.eowner}}</strong></p>
            <hr>
            <p class="text-muted">Start date: {{ object.edate }}</p>
            <p class="text-muted">End date: {{ object.eenddate }}
                <hr>
                <p>{{ object.econtent }}</p>
                {% if object.eowner != user %}
                <hr>
                <form method="POST" action="{% url 'ehandler:event-attend' object.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="eventJoinCode"><strong>Event Joining Code:</strong></label>
                        <input type='text' class="form-control" id="eventJoinCode" name="code"
                            placeholder="Enter event joining code">
                        <small id="emailHelp" class="form-text text-muted">If you don't know the event joining code,
                            then please contact the organiser of event</small>
                        <button type="submit" class="btn btn-success btn-sm mt-1 mb-1">
                            <span>
                                Attend Event
                            </span>
                        </button>
                </form>


                <!-- <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'ehandler:event-attend' object.id %}"
                    role="button">Attend Event</a> -->
                <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'ehandler:event-cancel' object.id %}"
                    role="button">Cancel Attendance</a>
                <hr>
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'ehandler:event-help' object.id %}"
                    role="button">Help in organising this event</a>
                {% endif %}

                {% if object.eowner == user %}
                <hr>
                <p>
                    <h5><span class="badge badge-secondary text-center">Event joining code is:
                            <strong>{{object.ecode}}</strong></span>
                    </h5>
                </p>
                <div>
                    <a class="btn btn-primary btn-sm mt-1 mb-1"
                        href="{% url 'ehandler:event-update' object.id %}">Update Event</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'ehandler:event-delete' object.id %}">Delete
                        Event</a>
                </div>
                {% endif %}
        </div>
    </div>
    {% endblock content %}