{% extends "ehandler/base.html" %}
{% block content %}
<div class="col-md-8">
    <br>
    <!-- <h2>Click on event name to get analytics</h2> -->
    {% for event in events %}
    {% if event.eowner == user %}
    <article class="media content-section">
        <div class="media-body">
            <h2><a class="article-title" href="{% url 'ehandler:event-detail' event.id %}">{{ event.ename }}</a>
            </h2>
            <div class="article-metadata">
                <small class="text-muted"><strong>Start Date: </strong>{{ event.edate|date:"F d, Y" }} </small><br>
                <small class="text-muted"><strong>End date: </strong>{{ event.eenddate|date:"F d, Y" }}</small><br>
                <small class="mr-2" href="#"><strong>Event Organiser: </strong>{{ event.eowner }}</small>

            </div>
            <!-- <p class="article-content">{{ event.econtent }}</p> -->

            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'ehandler:user-event-analysis' event.id %}">Get
                Event
                Analytics</a>
        </div>
    </article>

    {% endif %}
    {% endfor %}
</div>
{% endblock content %}