{% extends "ehandler/base.html" %}
{% block content %}

<!-- <div class="col-md-8"> -->
<div class="container">
    {% for event in events %}
    <article class="media content-section">
        <div class="media-body">
            <h2><a class="article-title" href="{% url 'ehandler:event-detail' event.id %}">{{ event.ename }}</a>
            </h2>
            <div class="article-metadata">
                <small class="text-muted"><strong>Start Date: </strong>{{ event.edate|date:"F d, Y" }} </small><br>
                <small class="text-muted"><strong>End date: </strong>{{ event.eenddate|date:"F d, Y" }}</small><br>
                <small class="mr-2" href="#"><strong>Event Organiser: </strong>{{ event.eowner }}</small>

            </div>
            <p class="article-content">{{ event.econtent }}</p>
            <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'ehandler:event-detail' event.id %}"
                role="button">Check it out</a>
        </div>
    </article>
    {% endfor %}

</div>
<!-- </div> -->
{% endblock content %}